header {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #586c9190;
  width: 100%;
  box-shadow: 0 0.625rem 0.9375rem -0.625rem rgba(0, 0, 0, 0.05);
  height: 72.88px;
}

@media (min-width: 1519.2px) and (max-width: 1903px) {
  header {
    height: 55.61px;
  }
}

@media (max-width: 1519.1px) {
  header {
    padding: 1.5rem;
    height: min-content;
  }
}
